body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
}

#root {
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 24px;
}