.input {
    margin-bottom: 22px;
}

.input__label {
    display: block;

    margin-bottom: 8px;
    margin-top: 8px;

    font-weight: 500;
}

.input__wrapper {
    position: relative;
}

.input__field {
    width: 100%;

    padding: 14px 18px;

    padding-right: 48px;

    border: 1px solid var(--color-border);

    border-radius: var(--radius-md);

    background: transparent;

    color: var(--color-text);

    transition: var(--transition);
}

.input__field:focus {
    outline: none;

    border-color: var(--color-primary);
}